body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
     
  }

  main {
    flex: 1 0 auto;
  }

  #total-geral{
    font-size: 20pt;
    margin-top: 20px;
  }

  #total-div{
    
    margin-top: 15px;
  }

  #total-geral-skus{
    font-size: 20pt;
    margin-top: 20px;
  }

  #total-skus-div{
    
    margin-top: 15px;
  }